@model Proyecto_Fase_1.Models.Inscripcion
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        <p dame="Nombres"> @Model.nombres </ p >
        <p dame="ApellidoP"> @Model.apellidoP </ p >
        <p dame="ApellidoS"> @Model.apellidoS </ p >
        <p dame="Dui"> @Model.dui </ p >
        <p dame="Nit"> @Model.nit </ p >
        <p dame="Correo"> @Model.correo </ p >
        <p dame="Telefono"> @Model.telefono </ p >
        <p dame="IdCarrera"> @Model.nameCarreras </ p >
         <hr />

    </div>
</body>
</html>

